<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>    
    <property name="hibernate.connection.url">jdbc:mysql://localhost/db1</property>    
    <property name="hibernate.connection.username">user</property>
    <property name="hibernate.connection.password">abc123.</property> 
    
   
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">create</property>
    <property name="hibernate.highlight_sql">true</property>

<!-- Se se utilizan anotacións na clase Event.java -->
     <!-- <mapping class="org.hibernate.tutorial.model.Event"/> -->

<!-- Se se utilizan un arquivo hbm.xml -->
     <mapping resource="org/hibernate/tutorial/model/Event.hbm.xml" />

  </session-factory>
</hibernate-configuration>